@tailwind base;
@tailwind components;

body{
    @apply bg-purple-1 text-white;
}

.modal {
    @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-50;
  }
  
.modal-main {
  @apply fixed w-4/5 h-auto bg-white top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  animation: show 0.2s;
}
.closeModal{
  animation-direction: alternate;
  animation: show 0.2;
}

.inputCard{
  @apply text-3xl w-12 h-16 px-3 py-4;
}

.focusBorder:focus{
  @apply outline-none shadow-outline;
}

.input-blue:focus{
  @apply bg-blue-2;
}

.input-white{
  @apply border-2 border-blue-2 rounded-lg;
}

.input-blue{
  @apply text-gray-1 bg-blue-1;
}

.invalidInput{
  @apply border-red-1;
}
.invalidInput::placeholder{
  @apply text-red-1;
}


.btn{
  @apply bg-blue-3 rounded-md;
}

@tailwind utilities;

@keyframes show{
  from{
    transform: scale(0) translate(-50%,-50%);
    opacity:0;
  } to{
    transform:scale(1) translate(-50%,-50%);
    opacity: 1;
  }
}